%nav.navbar.navbar-default{:style => "background-color:#00bfff"}
  .container-fluid
    .navbar-header 
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "http://localhost:3000/teachers/home"} Accueil
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "http://localhost:3000/permited_teachers/index"}
            View requests
            %span.sr-only (current)
        %li
          %a{:href => "#"} Etudiant
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "http://localhost:3000/users/logout"} Déconnexion




%h2 Inscription

= form_tag 'students/new', method: :post do
  .form-horizontal
    .form-group
      %label.col-lg-5.control-label{:for => "inputName"} Name
      %input{:type => "text", :name => "name"}
    .form-group
      %label.col-lg-5.control-label{:for => "inputSurname"} Surname
      %input{:type => "text", :name => "surname"}
    .form-group 
      %label.col-lg-5.control-label{:for => "inputUsername"} Username
      %input{:type => "text", :name => "username"}
    .form-group 
      %label.col-lg-5.control-label{:for => "inputPassword"} Password
      %input{:type => "password", :name => "password"}
    .form-group
      %label.col-lg-5.control-label{:for => "inputEmailadress"} Email address
      %input{:type => "email", :name => "email"}
    .form-group
      .col-lg-offset-5
        %input{:type => "submit", :value => "S'inscrire"}
