= form_for @test do
	%p 
		Titre
		%input{:type => "text", :name => "title", :value => @test.title}
	%p 
		Date
		%input{:type => "date", :name => "test_date", :value => @test.test_date}		
	- if @test.persisted?
		%p
			%input{:type => "submit", :value => "Modifier l'épreuve"}
	- else
		%p
		Matière
		%select{:name => "subject_id"}
			- @subjects.each do |subject|
				%option{:value => subject.id}
					=subject.title
		%p
			%input{:type => "submit", :value => "Ajouter l'épreuve"}  