%nav.navbar.navbar-default{:style => "background-color:#00bfff"}
  .container-fluid
    .navbar-header 
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Acceuil
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"}
            Enseignant
            %span.sr-only (current)
        %li
          %a{:href => "#"} Etudiant
        %li
          %a{:href => "#"} Matière
        %li
          %a{:href => "#"} Note
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to("S'inscrire",'/users/inscription')


%div{:style => "height:120px;"}
%h1.text-center GESTIONNAIRE DE NOTE

.span12{:style => "height:130px;"}
%form.form-horizontal
  %fieldset
    .form-group
      = form_tag "/users/login", method: :post do
        %label.col-lg-5.control-label{:for => "inputUsername"} Username
        .col-lg-2
          %input#inputUsername.form-control{:placeholder => "Username", :type => "text"}/
    .form-group
      %label.col-lg-5.control-label{:for => "inputPassword"} Password
      .col-lg-2
        %input#inputPassword.form-control{:placeholder => "Password", :type => "password"}/
    .form-group
      .col-lg-offset-5
        %input{:type => "submit", :value => "Se connecter"}

%div{:style => "height:120px;"}



  
