%div{:style => "height:120px;"}
%h1.text-center GESTIONNAIRE DE NOTE

= form_tag "/users/login", method: :post do
  .form-horizontal
    .form-group
      %label.col-lg-5.control-label{:for => "username"} Username
      %input{:type => "text", :name => "username"}
    .form-group
      %label.col-lg-5.control-label{:for => "password"} Password
      %input{:type => "password", :name => "password"}
    .form-group
      .col-lg-offset-5
        %input{:type => "submit", :value => "Se connecter"}

= link_to("S'inscrire", users_inscription_path)




  
