%h1 Inscription

= form_tag 'inscription', method: :post  do
	%p 
		Name 
		%input{:type => "text", :name => "name"}
	%p 
		Surname
		%input{:type => "text", :name => "surname"}
	%p 
		Username
		%input{:type => "text", :name => "username"}
	%p 
		Password
		%input{:type => "password", :name => "password"}
	%p 
		Email address
		%input{:type => "email", :name => "email"}
	%p
		%input{:type => "submit", :value => "S'inscrire"}

= link_to('home', "home")