%h2 Inviter un étudiant

= form_tag 'invite', method: :post  do
	%p 
		Name 
		%input{:type => "text", :name => "name"}
	%p 
		Surname
		%input{:type => "text", :name => "surname"}
	%p 
		Email address
		%input{:type => "email", :name => "email"}
	%p
		%input{:type => "submit", :value => "Inviter"}

= link_to('home', "home")