%nav.navbar.navbar-default{:style => "background-color:#00bfff"}
  .container-fluid
    .navbar-header 
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Acceuil
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"}
            Enseignant
            %span.sr-only (current)
        %li
          %a{:href => "#"} Etudiant
        %li
          %a{:href => "#"} Matière
        %li
          %a{:href => "#"} Note

%div{:style => "height:80px;"}
%h1.text-center INVITATION
.span12{:style => "height:110px;"}
%form.form-horizontal
  %fieldset
    .form-group
      = form_tag 'invite', method: :post  do
        %label.col-lg-5.control-label{:for => "inputName"}Prénom
        .col-lg-2
          %input{:type => "text", :name => "name"}
    .form-group 
      %label.col-lg-5.control-label{:for => "inputSurname"}Nom
      .col-lg-2
        %input{:type => "text", :name => "surname"}
    .form-group  
      %label.col-lg-5.control-label{:for => "inputEmailaddress"}Adresse mail
      .col-lg-2
        %input{:type => "email", :name => "email"}
    .form-group
      .col-lg-offset-5
        %input{:type => "submit", :value => "Inviter"}

= link_to('Acceuil', "home")
