%h2 Liste des professeurs en attente

%table
	%tr
		%th Nom
		%th Prénom
	- @permited_teachers.each do |permited_teacher|
		%tr
			%td #{permited_teacher.surname}
			%td #{permited_teacher.name}
			%td 
				= link_to('Approuver', teachers_path(@teacher, :username => permited_teacher.username, :password => permited_teacher.password, :name => permited_teacher.name, :surname => permited_teacher.surname), method: :post)

= link_to('Retour', administrators_home_path)

  